name: Docker SinglePageApp

on:
  create:
    tags:
      - 'v*'

jobs:
  build:
    environment: DOCKER_HUB
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Log into docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          logout: false

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: janmbaco/singlepageapp
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./server/facades/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}